{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "tabWidth": 2,
  "printWidth": 80,
  "jsxSingleQuote": false,

  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ],

  "customFunctions": ["cn", "clsx", "cva"],
  "tailwindFunctions": ["cn", "clsx", "cva"],
  "endingPosition": "absolute"
}

