{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "tabWidth": 2,
  "printWidth": 100,
  "jsxSingleQuote": false,
   "plugins": [
    "prettier-plugin-classnames",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-merge",
  ],
  "customFunctions": ["cn", "clsx", "cva"],
  "tailwindFunctions": ["cn", "clsx", "cva"],
  "endingPosition": "absolute"
}
